
@font-face {font-family: 'logistics-1';
  src: url('../fonts/svg-fonts/logistics-1.eot'); /* IE9*/
  src: url('../fonts/svg-fonts/logistics-1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/svg-fonts/logistics-1.woff') format('woff'), /* chrome、firefox */
  url('../fonts/svg-fonts/logistics-1.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/svg-fonts/logistics-1.svg#logistics-1') format('svg'); /* iOS 4.1- */
}

.svg-font.logistics-1{font-family:"logistics-1";font-size:16px;font-style:normal;}

@font-face {font-family: 'logistics-2';
  src: url('../fonts/svg-fonts/logistics-2.eot'); /* IE9*/
  src: url('../fonts/svg-fonts/logistics-2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/svg-fonts/logistics-2.woff') format('woff'), /* chrome、firefox */
  url('../fonts/svg-fonts/logistics-2.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/svg-fonts/logistics-2.svg#logistics-2') format('svg'); /* iOS 4.1- */
}

.svg-font.logistics-2{font-family:"logistics-2";font-size:16px;font-style:normal;}

@font-face {font-family: 'logistics-3';
  src: url('../fonts/svg-fonts/logistics-3.eot'); /* IE9*/
  src: url('../fonts/svg-fonts/logistics-3.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/svg-fonts/logistics-3.woff') format('woff'), /* chrome、firefox */
  url('../fonts/svg-fonts/logistics-3.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/svg-fonts/logistics-3.svg#logistics-3') format('svg'); /* iOS 4.1- */
}

.svg-font.logistics-3{font-family:"logistics-3";font-size:16px;font-style:normal;}

@font-face {font-family: 'logistics-4';
  src: url('../fonts/svg-fonts/logistics-4.eot'); /* IE9*/
  src: url('../fonts/svg-fonts/logistics-4.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/svg-fonts/logistics-4.woff') format('woff'), /* chrome、firefox */
  url('../fonts/svg-fonts/logistics-4.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/svg-fonts/logistics-4.svg#logistics-4') format('svg'); /* iOS 4.1- */
}

.svg-font.logistics-4{font-family:"logistics-4";font-size:16px;font-style:normal;}

@font-face {font-family: 'logistics-5';
  src: url('../fonts/svg-fonts/logistics-5.eot'); /* IE9*/
  src: url('../fonts/svg-fonts/logistics-5.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/svg-fonts/logistics-5.woff') format('woff'), /* chrome、firefox */
  url('../fonts/svg-fonts/logistics-5.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/svg-fonts/logistics-5.svg#logistics-5') format('svg'); /* iOS 4.1- */
}

.svg-font.logistics-5{font-family:"logistics-5";font-size:16px;font-style:normal;}

@font-face {font-family: 'logo';
  src: url('../fonts/svg-fonts/logo.eot'); /* IE9*/
  src: url('../fonts/svg-fonts/logo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/svg-fonts/logo.woff') format('woff'), /* chrome、firefox */
  url('../fonts/svg-fonts/logo.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/svg-fonts/logo.svg#logo') format('svg'); /* iOS 4.1- */
}

.svg-font.logo{font-family:"logo";font-size:16px;font-style:normal;}

@font-face {font-family: 'operative-1';
  src: url('../fonts/svg-fonts/operative-1.eot'); /* IE9*/
  src: url('../fonts/svg-fonts/operative-1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/svg-fonts/operative-1.woff') format('woff'), /* chrome、firefox */
  url('../fonts/svg-fonts/operative-1.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/svg-fonts/operative-1.svg#operative-1') format('svg'); /* iOS 4.1- */
}

.svg-font.operative-1{font-family:"operative-1";font-size:16px;font-style:normal;}

@font-face {font-family: 'operative-2';
  src: url('../fonts/svg-fonts/operative-2.eot'); /* IE9*/
  src: url('../fonts/svg-fonts/operative-2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/svg-fonts/operative-2.woff') format('woff'), /* chrome、firefox */
  url('../fonts/svg-fonts/operative-2.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/svg-fonts/operative-2.svg#operative-2') format('svg'); /* iOS 4.1- */
}

.svg-font.operative-2{font-family:"operative-2";font-size:16px;font-style:normal;}

@font-face {font-family: 'operative-3';
  src: url('../fonts/svg-fonts/operative-3.eot'); /* IE9*/
  src: url('../fonts/svg-fonts/operative-3.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/svg-fonts/operative-3.woff') format('woff'), /* chrome、firefox */
  url('../fonts/svg-fonts/operative-3.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/svg-fonts/operative-3.svg#operative-3') format('svg'); /* iOS 4.1- */
}

.svg-font.operative-3{font-family:"operative-3";font-size:16px;font-style:normal;}

@font-face {font-family: 'operative-4';
  src: url('../fonts/svg-fonts/operative-4.eot'); /* IE9*/
  src: url('../fonts/svg-fonts/operative-4.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/svg-fonts/operative-4.woff') format('woff'), /* chrome、firefox */
  url('../fonts/svg-fonts/operative-4.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/svg-fonts/operative-4.svg#operative-4') format('svg'); /* iOS 4.1- */
}

.svg-font.operative-4{font-family:"operative-4";font-size:16px;font-style:normal;}

@font-face {font-family: 'operative-5';
  src: url('../fonts/svg-fonts/operative-5.eot'); /* IE9*/
  src: url('../fonts/svg-fonts/operative-5.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/svg-fonts/operative-5.woff') format('woff'), /* chrome、firefox */
  url('../fonts/svg-fonts/operative-5.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/svg-fonts/operative-5.svg#operative-5') format('svg'); /* iOS 4.1- */
}

.svg-font.operative-5{font-family:"operative-5";font-size:16px;font-style:normal;}

@font-face {font-family: 'position';
  src: url('../fonts/svg-fonts/position.eot'); /* IE9*/
  src: url('../fonts/svg-fonts/position.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/svg-fonts/position.woff') format('woff'), /* chrome、firefox */
  url('../fonts/svg-fonts/position.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/svg-fonts/position.svg#position') format('svg'); /* iOS 4.1- */
}

.svg-font.position{font-family:"position";font-size:16px;font-style:normal;}

@font-face {font-family: 'product-1';
  src: url('../fonts/svg-fonts/product-1.eot'); /* IE9*/
  src: url('../fonts/svg-fonts/product-1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/svg-fonts/product-1.woff') format('woff'), /* chrome、firefox */
  url('../fonts/svg-fonts/product-1.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/svg-fonts/product-1.svg#product-1') format('svg'); /* iOS 4.1- */
}

.svg-font.product-1{font-family:"product-1";font-size:16px;font-style:normal;}

@font-face {font-family: 'product-3';
  src: url('../fonts/svg-fonts/product-3.eot'); /* IE9*/
  src: url('../fonts/svg-fonts/product-3.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/svg-fonts/product-3.woff') format('woff'), /* chrome、firefox */
  url('../fonts/svg-fonts/product-3.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/svg-fonts/product-3.svg#product-3') format('svg'); /* iOS 4.1- */
}

.svg-font.product-3{font-family:"product-3";font-size:16px;font-style:normal;}

@font-face {font-family: 'service-1';
  src: url('../fonts/svg-fonts/service-1.eot'); /* IE9*/
  src: url('../fonts/svg-fonts/service-1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/svg-fonts/service-1.woff') format('woff'), /* chrome、firefox */
  url('../fonts/svg-fonts/service-1.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/svg-fonts/service-1.svg#service-1') format('svg'); /* iOS 4.1- */
}

.svg-font.service-1{font-family:"service-1";font-size:16px;font-style:normal;}

@font-face {font-family: 'service-2';
  src: url('../fonts/svg-fonts/service-2.eot'); /* IE9*/
  src: url('../fonts/svg-fonts/service-2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/svg-fonts/service-2.woff') format('woff'), /* chrome、firefox */
  url('../fonts/svg-fonts/service-2.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/svg-fonts/service-2.svg#service-2') format('svg'); /* iOS 4.1- */
}

.svg-font.service-2{font-family:"service-2";font-size:16px;font-style:normal;}

@font-face {font-family: 'service-3';
  src: url('../fonts/svg-fonts/service-3.eot'); /* IE9*/
  src: url('../fonts/svg-fonts/service-3.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/svg-fonts/service-3.woff') format('woff'), /* chrome、firefox */
  url('../fonts/svg-fonts/service-3.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/svg-fonts/service-3.svg#service-3') format('svg'); /* iOS 4.1- */
}

.svg-font.service-3{font-family:"service-3";font-size:16px;font-style:normal;}

@font-face {font-family: 'service-4';
  src: url('../fonts/svg-fonts/service-4.eot'); /* IE9*/
  src: url('../fonts/svg-fonts/service-4.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/svg-fonts/service-4.woff') format('woff'), /* chrome、firefox */
  url('../fonts/svg-fonts/service-4.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/svg-fonts/service-4.svg#service-4') format('svg'); /* iOS 4.1- */
}

.svg-font.service-4{font-family:"service-4";font-size:16px;font-style:normal;}

@font-face {font-family: 'service-5';
  src: url('../fonts/svg-fonts/service-5.eot'); /* IE9*/
  src: url('../fonts/svg-fonts/service-5.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/svg-fonts/service-5.woff') format('woff'), /* chrome、firefox */
  url('../fonts/svg-fonts/service-5.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/svg-fonts/service-5.svg#service-5') format('svg'); /* iOS 4.1- */
}

.svg-font.service-5{font-family:"service-5";font-size:16px;font-style:normal;}

@font-face {font-family: 'service-grade';
  src: url('../fonts/svg-fonts/service-grade.eot'); /* IE9*/
  src: url('../fonts/svg-fonts/service-grade.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/svg-fonts/service-grade.woff') format('woff'), /* chrome、firefox */
  url('../fonts/svg-fonts/service-grade.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/svg-fonts/service-grade.svg#service-grade') format('svg'); /* iOS 4.1- */
}

.svg-font.service-grade{font-family:"service-grade";font-size:16px;font-style:normal;}

@font-face {font-family: 'service-mileage';
  src: url('../fonts/svg-fonts/service-mileage.eot'); /* IE9*/
  src: url('../fonts/svg-fonts/service-mileage.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/svg-fonts/service-mileage.woff') format('woff'), /* chrome、firefox */
  url('../fonts/svg-fonts/service-mileage.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/svg-fonts/service-mileage.svg#service-mileage') format('svg'); /* iOS 4.1- */
}

.svg-font.service-mileage{font-family:"service-mileage";font-size:16px;font-style:normal;}

@font-face {font-family: 'service-position';
  src: url('../fonts/svg-fonts/service-position.eot'); /* IE9*/
  src: url('../fonts/svg-fonts/service-position.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/svg-fonts/service-position.woff') format('woff'), /* chrome、firefox */
  url('../fonts/svg-fonts/service-position.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/svg-fonts/service-position.svg#service-position') format('svg'); /* iOS 4.1- */
}

.svg-font.service-position{font-family:"service-position";font-size:16px;font-style:normal;}

@font-face {font-family: 'service-speed';
  src: url('../fonts/svg-fonts/service-speed.eot'); /* IE9*/
  src: url('../fonts/svg-fonts/service-speed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/svg-fonts/service-speed.woff') format('woff'), /* chrome、firefox */
  url('../fonts/svg-fonts/service-speed.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/svg-fonts/service-speed.svg#service-speed') format('svg'); /* iOS 4.1- */
}

.svg-font.service-speed{font-family:"service-speed";font-size:16px;font-style:normal;}

@font-face {font-family: 'service-time';
  src: url('../fonts/svg-fonts/service-time.eot'); /* IE9*/
  src: url('../fonts/svg-fonts/service-time.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/svg-fonts/service-time.woff') format('woff'), /* chrome、firefox */
  url('../fonts/svg-fonts/service-time.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/svg-fonts/service-time.svg#service-time') format('svg'); /* iOS 4.1- */
}

.svg-font.service-time{font-family:"service-time";font-size:16px;font-style:normal;}
